.btn-connect {
    width: max-content;
    display: inline-block;
    color: white;
    background: rgba(196, 196, 196, 0.57);
    padding: 0.75rem 1.2rem;
    border-radius: 9060px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-style: normal;
    font-size: 15px;
}

.btn-connect:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}